:root {
  --bgcolor: #1db954;
  --blur: 4px;
  --color: yellow;
}

.body-container {
  box-sizing: border-box;
  flex: 1;
  height:86vh;
  color: white;
  overflow-y: overlay;
  background-color: hsla(0, 1%, 7%, 1);
}

.body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
.body__header {
  background: linear-gradient(
    180deg,
    var(--bgcolor) 0.86%,
    hsla(0, 1%, 7%, 1) 99.11%
  );
  padding: 30px;
  padding-bottom: 0;
}

.body__songs {
  padding: 30px;
  padding-top: 0;
}
.body__info__img {
  height: 20vw;
  margin: 0 20px;
  margin-left: 0;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.5);
  min-width: 192px;
  min-height: 192px;
  max-width: 232px;
  max-height: 232px;
}

.body__info__text {
  flex: 1;
}

.body__info__text > h2 {
  font-size: 80px;
  margin-bottom: 10px;
}

.body__info__text > p {
  font-size: 14px;
}

.body-container::-webkit-scrollbar {
  display: none;
}

.songs__icons {
  display: flex;
  align-items: center;

}

.songs__icons .MuiSvgIcon-root {
  margin-right: 10px;
  color: #1db954;
}
.body__shuffle {
  font-size: 80px !important;
  margin-top: 20px;
  margin-bottom: 20px;
}


.body__shuffle:hover {
  transform: scale(1.08);
  transition: 100ms transform ease-in;
}
@media screen and (max-width: 1240px) {
  .body__info__text > h2 {
    font-size: 60px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1020px) {
  .body__info__text > h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .body__info__text > p{
    display: none;
  }
}
