:root {
  --bgcolor: #1db954;
  --blur: 4px;
  --color: yellow;
}
.body-container.home {
  background: linear-gradient(180deg, #1db954, #121212);
}
.body-container {
  box-sizing: border-box;
  flex: 1;
  height: 86vh;
  color: white;
  overflow-y: overlay;
  background-color: hsla(0, 1%, 7%, 1);
}

.body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
.body__header {
  background: linear-gradient(
    180deg,
    var(--bgcolor) 0.86%,
    hsla(0, 1%, 7%, 1) 99.11%
  );
  padding: 30px;
  padding-bottom: 0;
}

.body__songs {
  padding: 30px;
  padding-top: 0;
}
.body__info__img {
  height: 20vw;
  margin: 0 20px;
  margin-left: 0;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.5);
  min-width: 192px;
  min-height: 192px;
  max-width: 232px;
  max-height: 232px;
}

.body__info__text {
  flex: 1;
}

.body__info__text > h2 {
  font-size: 80px;
  margin-bottom: 10px;
}

.body__info__text > p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 20px;
  text-transform: none;
  max-height: 74px;
  overflow: hidden;
  word-break: break-word;
  color: hsl(0deg 0% 76%);
}

.body-container::-webkit-scrollbar {
  display: none;
}

.songs__icons {
  display: flex;
  align-items: center;
}

.songs__icons .MuiSvgIcon-root {
  margin-right: 10px;
  color: #1db954;
}
.body__shuffle {
  margin-top: 20px;
  margin-bottom: 20px;
}
.body__shuffle.MuiSvgIcon-root {
  font-size: 80px;
}

.body__shuffle:hover {
  transform: scale(1.08);
  transition: 100ms transform ease-in;
}
@media screen and (max-width: 1240px) {
  .body__info__text > h2 {
    font-size: 60px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1020px) {
  .body__info__text > h2 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  .body__info__text > p {
    display: none;
  }
}

.songs__icons-fixed {
  background: linear-gradient(
    180deg,
    var(--bgcolor) 0.86%,
    hsla(0, 1%, 7%, 1) 99.11%
  );
  position: fixed;
  top: 0;
  margin-left: -30px;
  padding: 10px 0px 15px 30px;
  width: 100%;
}

.songs__icons-fixed .body__shuffle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 4.2rem;
}

.playlist__info {
  display: flex;
  margin-top: 8px;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: baseline;
}
.playlist__info a {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 16px;
  text-transform: none;
  color: #fff;
  text-decoration: none;
}
.playlist__info a:hover {
  text-decoration: underline;
}
.playlist__info span {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 16px;
  text-transform: none;
  color: hsla(0, 0%, 100%, 0.7);
  white-space: nowrap;
}

.playlist__info span::before {
  content: "•";
  margin: 0px 4px;
}

.body__header.home{
  /* display: none; */
  background: none;
}