.sidebarOption-container{
    color: #b3b3b3;
    height: 40px;
    cursor: pointer;
    transition:100ms color ease-in;
    display: flex;
    align-items: center;
}
.sidebarOption-container:hover{
    color: #fff;
}

.MuiSvgIcon-root{
    padding-left: 10px;
    padding-right: 10px;
}

.sidebarOption-container p{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 14px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: capitalize;
}
.sidebarOption-container>h4{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none
}
.sidebarOption__playlistName {
    align-self: flex-start;
}

